a {
	outline: none;
	color: #dd3e62;
	text-decoration: none;
}

a:hover {
	color: #1e1a1b;
}

 a:focus {
 	outline: none;
 }

.hidden {
	height: 0;
	width: 0;
	overflow: hidden;
	position: absolute;
}

.grid__item {
	/* height: calc(100vh - 40px);
	min-height: 30px;
	max-width: calc(100vw - 40px);
	background: #DDD;
	margin: 20px;
	padding: 100px 0;
	z-index: 1;
	position: relative;
	text-align: center;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-transform: translate3d(0,0,0);  */
}

.grid__item p {
	/* font-size: 2em;
	font-weight: bold;
	color: #777; */
}

/* Background colors */
.color-9 { 
    padding: 10px;
    text-align: right;
    margin-right: -20px;
    /* background: #dedbba;  */
}


/* General link styles */
.link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 2em;
	line-height: 1;
	color: #9e9ba4;
	display: inline-block;
}

/* Ilin */
.link--ilin {
	font-weight: 900;
	text-transform: uppercase;
	line-height: 0.8;
	overflow: hidden;
	color: #B3E5FC;
}

.link--ilin span {	
	position: relative;
	display: inline-block;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.link--ilin:hover span:first-of-type {
	color: #fff;
}

.link--ilin:hover span:last-of-type {
	color: #1e1a1b;
}

.link--ilin span::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	line-height: 0.8;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.link--ilin span:last-of-type::before {
	background: #1e1a1b;
}

.link--ilin:hover span:last-of-type::before,
.link--ilin span:first-of-type::before {
	-webkit-transform: translate3d(0,-150%,0);
	transform: translate3d(0,-150%,0);
}

.link--ilin:hover span:first-of-type::before,
.link--ilin span:last-of-type::before {
	-webkit-transform: translate3d(0,150%,0);
	transform: translate3d(0,150%,0);
}
